*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: cursive;
}

.container{
    width: 100%;
    /* height: 100vh; */
}



/* HEADER */

.header{
    height: 60px;
    /* padding: 0 20px;  */
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    
    background-color: #eaeaea;
}

.header h1{
    padding: 0 20px;

    text-align: center;
    line-height: 60px;
}

.header nav{
    width: 300px;
    
    display: flex;
}

.header nav a{
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.header nav a:hover{
    font-weight: bold;
}



/* CONTENT */

.content{
    max-width: 1000px;
    /* height: auto; */
    margin: auto;
    padding: 20px;
    
    border: 5px solid #b7b6b6;
    border-radius: 20px;

    background-color: #e3dfdfc0;
}

.op{
    height: fit-content;
    padding-bottom: 20px;
    display: flex;

    overflow: auto;

    border-bottom: 3px solid;
}

.op-img1{
    width: 220px;
    height: 310px;
    margin-right: 20px;

    border-radius: 10px;

    float: left;

    order: 1;
}

.op-text {
    display: block;
    width: 700px;
    height: fit-content;
    order: 2;
    text-align: center;
    float: inline-start;
    
    /* border: 1px solid skyblue; */
}

.op-text h2{
    margin-bottom: 10px;
    text-decoration: underline;
}

.op-text p{
    padding-bottom: 20px;
    border-bottom: 3px solid;
}

.op-img2{
    width: 700px;

    order: 3;
}

.intro{
    display: flex;
    padding-bottom: 20px;

    border-bottom: 3px solid;
}

.intro img{
    max-width: 200px;
    max-height: 325px;
    margin: 25px 25px 0 25px;

    float: left;
}

.intro h2{
    margin-top: 20px;
    text-decoration: underline;
}

.intro-p1{
    margin-top: 20px;
    padding-bottom: 10px;

    border-bottom: 3px solid;
}

.intro-p2{
    display: inline-block;
    padding-top: 10px;
    word-wrap: break-word;
}

.chara{
    display: flex;
    height: 300px;
    overflow: auto;

    justify-content: center;
    flex-wrap: wrap-reverse;
    
    border: 2px solid cyan;
}

.chr a{
    text-align: center;
    text-decoration: none;
    
    color: #000;
    
}


/* FOOTER */

.footer{
    width: 100%;
    padding: 5px 0;

    background-color: dimgray;
}

.footer h3{
    text-align: center;

    color: #fff;
}




/* RESPONSIVE BREAKPOINT */

@media (min-width: 1000px) {
    
    .content{
        margin: 0 30px;
    }

}














