*{
    margin: 0px;
    padding: 0px;
}

.container{
    /* width: ; */
    height: 100vh;
}

.header{
    width: 100%;
    height: 50px;
    
    text-align: center;
    
    /* border: 2px solid; */
}

/* NAVBAR */

.navbar ul li{
    list-style-type: none;
}

.navbar{
    /* width: 100%; */
    /* height: 50px; */

    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    text-align: center;
    
    /* border: 2px solid; */

    position: sticky;
    top: 0px;
    
}

.navbar ul{
    display: flex;
    
    background-color: #eaeaea;
}

.navbar ul li{
    /* padding: 10px auto; */
    display: flex;
    justify-content: space-around;
    /* align-content: stretch; */
    flex-grow: 1;
    
    /* border: 2px solid; */
}

.navbar ul li a{
    padding: 8px;
}

.navbar ul li:hover{
    background-color: #fff;

    transition: all 0.5s ease-in-out;
}

/* CONTENT */

.content{
    display: flex;
    justify-content: space-around;
    /* flex-grow: 1; */
    /* padding: auto 0px; */
    align-items: stretch;
    padding: 10% 0px;

    /* border: 1px solid; */
}

.content .main{
    /* align-content: auto; */
    flex-grow: 1;
    /* background-color: bisque; */

    text-align: center;
    /* border: 1px solid; */
}

.content .left,.right{
    padding: 0px 60px;
}

.main,.left,.right{
    text-align: center;
}

